.explore-page {
  padding: 20px;
  font-family: comic sans ms;
}

/* Search Bar */
.search-bar-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.search-bar {
  width: 75%;
  padding: 5px;
  font-size: 16px;
  border-radius: 6px;
  border:1px dashed #000000;
}

/* Section Title */
.section-title {
  margin: 20px 0 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
}

/* Listening Container (Top Song, Artist, Album, Genre) */
.listening-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.listening-column {
  flex: 1;
  min-width: 150px;
}
.listening-column h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.list-item:hover, .genre-box:hover{
  filter: brightness(125%);
}
.list-item {
  text-align: center;
  background-color: #a3a3a3;
  padding: 5%;
  margin: 5% 0;
  border-radius: 25px;
}

/* Genre Section */
.genre-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}
.genre-box {
  flex: 1;
  min-width: 100px;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
}

/* Upcoming Events */
.events-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.event-circle {
  width: 120px;
  height: 120px;
  background-color: #ddd;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-date {
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}
.event-location {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.explore-content{
  margin-right: 20%;
}

.genre-box, .artist-button {
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: capitalize;
}

.genre-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
